# Core functionality - changes here should be rare!
/src/app.py                   @huyenbui12
/src/backend/database.py      @huyenbui12
/src/backend/routers/auth.py  @huyenbui12

# The frontend will need refactored soon to be more object oriented.
/src/static/   @huyenbui12
